.navbar{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;

}

.rightnavbar{
    width: 30%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.btn{
    width: 20%;
    height: 40px;
    margin-top: 10px;
    background: none;
    color: blue;
    border: 1px solid blue;
    font-size: 20px;
    font-weight: 500;
    border-radius: 7px;
}