.footer {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.footerdiv {
  width: 70%;
  margin: auto;
  margin-top: 30px;
}

.btn4 {
    font-size: 20px;
    font-weight: 500;
  width: 100%;
  margin-top: 30px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  color: blue;
  margin-left: -100%;
}
